<div class="container-fluid" style="background: color #c4c2c2;" >
  <div class="row" >
    <div class="col-md-12" >
        <h1 style="text-align: center;margin-top: 20px;">Add Education</h1>

        <!-- <mat-form-field id="edu_id">
          <input [(ngModel)]="edu_id" matInput placeholder="Education id"  placeholder="Education id" disabled="true">
      </mat-form-field>
      <br> -->

        <mat-form-field id="fk_emp_id">
        <input [(ngModel)]="fk_emp_id" matInput placeholder="Employee Email id"  placeholder="Employee Email id">
        <!-- mat-hint>Email is required!</mat-hint> -->
        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
         Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
         Email is <strong>required</strong>
        </mat-error> -->

    </mat-form-field>
    <br>
    <mat-form-field id="emp_qual">
      <input  [(ngModel)]="emp_qual" matInput placeholder="emp_qual">
    </mat-form-field>
    <br>
    <mat-form-field id="emp_pass_year">
      <input type="number" [(ngModel)]="emp_pass_year" matInput placeholder="Employee Passing Year">
    </mat-form-field>
    <br>
    <mat-form-field id="emp_uni">
      <input [(ngModel)]="emp_uni" matInput placeholder="Employee University">
    </mat-form-field>
    <br>
    <mat-form-field id="emp_exp">
      <input type="number" [(ngModel)]="emp_exp" matInput placeholder="Employee Experience">
    </mat-form-field>
    <br>
    <mat-form-field id="emp_skill1">
      <input [(ngModel)]="emp_skill1" matInput placeholder="Employee Skill1">
    </mat-form-field>
    <br>
    <mat-form-field id="emp_skill2">
      <input [(ngModel)]="emp_skill2" matInput placeholder="Employee Skill2">
    </mat-form-field>
    <br>

          <button (click)="AddEducationDetails()" class="btn" style="background-color: rgb(137, 253, 21);border:none;color: white;" id="Back" id="save">
            <mat-icon>add</mat-icon><br>&nbsp;Add
      </button>
      <button (click)="backPage()" class="btn" style="background-color:#303030;border:none;color: white;" id="Back" >
                      <mat-icon>arrow_back</mat-icon><br>&nbsp;Back
      </button>
      <br><br>
    </div>
  </div>
</div>



