<div class="container-fluid" style="background: color #c4c2c2;" >
  <div class="row" >
    <div class="col-md-12" >
        <h1 style="text-align: center;margin-top: 20px;">Add Job</h1>
      <mat-form-field id="text">
        <input [(ngModel)]="fk_rec_id" matInput placeholder="Email id"  placeholder="Email">
        <mat-hint>Email is required!</mat-hint>
        <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
         Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
         Email is <strong>required</strong>
        </mat-error> -->

    </mat-form-field>
    <br>
    <mat-form-field id="text">
      <input  [(ngModel)]="job_title" matInput placeholder="Job Title">
    </mat-form-field>
    <br>
Date :
    <!-- <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

    <br>
    <mat-form-field id="text">
      <input [(ngModel)]="skill_req" matInput placeholder="Skills Required">
    </mat-form-field>
    <br>
    <mat-form-field id="text">
      <input  [(ngModel)]="job_desc" matInput placeholder="Job Description">
    </mat-form-field>
    <br>

    <mat-form-field id="text">
      <input type="number" [(ngModel)]="salary_min" matInput placeholder="Minimum Salary">
    </mat-form-field>
    <br>

    <mat-form-field id="text">
      <input type="number" [(ngModel)]="salary_max" matInput placeholder="Maximum Salary">
    </mat-form-field>
    <br>

    <mat-form-field id="text">
      <input  [(ngModel)]="fk_company_name" matInput placeholder="Company Name">
    </mat-form-field>
    <br>

    <button (click)="AddJobDetails()" class="btn" style="background-color: rgb(137, 253, 21);border:none;color: white;" id="Back" id="save">
      <mat-icon>add</mat-icon><br>&nbsp;Add
  </button>
  <button (click)="backPage()" class="btn" style="background-color:#303030;border:none;color: white;" id="Back" >
                <mat-icon>arrow_back</mat-icon><br>&nbsp;Back
  </button>
  <br><br>

      <!-- <mat-form-field  id="country">
            <mat-select [(value)]="selected_country" [(ngModel)]="country_model_value">
              <mat-option value="option1">Country</mat-option>
            <mat-option  *ngFor="let country of country_list" [value]="country">{{country}}</mat-option>
               </mat-select>
          </mat-form-field>
          <mat-form-field id="state">
            <mat-select [(value)]="selected_state" [(ngModel)]="state_model_value" >
              <mat-option value="option1">State</mat-option>
              <mat-option *ngFor="let state of state_list" [value]="state">{{state}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field id="city">
            <mat-select [(value)]="selected_city" [(ngModel)]="city_model_value">
                <mat-option value="option1">city</mat-option>
            <mat-option *ngFor="let city of city_list" [value]="city">{{city}}</mat-option>
                          </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field id="Empfield">
            <mat-select [(value)]="selected_department"  [(ngModel)]="department_model_value" >
                <mat-option value="option1">Department</mat-option>
                <mat-option *ngFor="let dep of department_list"  [value]="dep">{{dep}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <div  class="imageshow" id="uploadshowimg" style="border-radius: 50%;height:150px;width:150px;">
            <img  alt="">
          </div>

          <br>
            <span class="btn btn-primary btn-file" id="uploadimg">
              <mat-icon>
                      cloud_upload
              </mat-icon>
              <input type="file" (change)="onChange($event)" [(ngModel)]="emp_photo"><br>&nbsp;Upload
            </span> -->

          <br>
          <br>

    </div>
  </div>
</div>



