<div class="container-fluid">
  <div class="main">
      <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
          <mat-form-field style="margin-left: 10px;text-align: center;background-color: #1ac8f3;color: #303030;width: 100%;">
            <input  matInput (keyup)="applyFilter($event.target.value)"  placeholder="Search Response here">
          </mat-form-field>
      <table class="col-md-12" mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
        <ng-container class="col-md-12" matColumnDef="checkItem" >
          <th mat-header-cell *matHeaderCellDef style="background-color: #1ac8f3;color: #303030;font-size:10px;font-weight: bold;">
            <mat-checkbox style="color: #303030;"></mat-checkbox>&nbsp;&nbsp;Select All
          </th>
          <td mat-cell *matCellDef="let element">  <mat-checkbox (click)="chackChanged(element)" style="background-color: white !important;color: #303030;"></mat-checkbox> </td>
        </ng-container>


         <ng-container matColumnDef="res_id" >
            <th mat-header-cell *matHeaderCellDef style="background-color: #1ac8f3;color: white;color: #303030;font-size:15px;font-weight: bold;">  Response id </th>
            <td mat-cell *matCellDef="let element">{{element.res_id}}</td>
          </ng-container>


         <ng-container matColumnDef="fk_apply_id" >
          <th mat-header-cell *matHeaderCellDef style="background-color: #1ac8f3;color: white;color: #303030;font-size:15px;font-weight: bold;"> Apply id </th>
          <td mat-cell *matCellDef="let element">{{element.fk_apply_id}}</td>
        </ng-container>


        <ng-container matColumnDef="res_status" >
          <th mat-header-cell *matHeaderCellDef style="background-color: #1ac8f3;color: white;color: #303030;font-size:15px;font-weight: bold;"> Response Status </th>
          <td mat-cell *matCellDef="let element">{{element.res_status}}</td>
        </ng-container>


        <ng-container matColumnDef="res_desc" >
          <th mat-header-cell *matHeaderCellDef style="background-color: #1ac8f3;color: white;color: #303030;font-size:15px;font-weight: bold;"> Response Description </th>
          <td mat-cell *matCellDef="let element">{{element.res_desc}}</td>
        </ng-container>


          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef style="background-color: #1ac8f3;color: white;color: #303030;font-size:15px;font-weight: bold;"> Edit Details </th>
            <td mat-cell *matCellDef="let element">


              <button class="btn" (click)="updateResponse(element)" style="background-color:#1ac8f3;">
                <mat-icon style="color: black;" aria-label="Example icon-button with a heart icon">edit</mat-icon>
             </button>

             <!-- <button class="btn" (click)="deleteResponse(element)" style="background-color:#1ac8f3;">
              <mat-icon style="color: black;" aria-label="Example icon-button with a heart icon">delete</mat-icon>
           </button> -->

            </td>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator style="margin-left: 10px;"  [pageSizeOptions]="[10, 15, 20,25]" showFirstLastButtons></mat-paginator>

      <br>
      <button class="btn" (click)="onRemove()" style="background-color: red;height:80px;width:200px;margin-left: 10px;" >
          <mat-icon style="color: black;" aria-label="Example icon-button with a heart icon">delete</mat-icon>
          <p style="color:black;margin-top: 3px !important;">Remove Response</p>
      </button>

      <button class="btn" (click)="AddResponse()"  style="margin-left:10px;background-color: #1ac8f3;height: 80px;width: 200px;">
      <mat-icon style="color: black;" aria-label="Example icon-button with a heart icon">person_add</mat-icon>
        <p style="color:black;margin-top: 3px !important;">Add Response</p>
      </button>

      <!-- <button  class="btn" style="background-color: #1ac8f3;height: 50px;width:100%;" (click)="onRemove()">Remove</button> -->
      </div>
  </div>
  </div>
