<div class="container-fluid">
  <div class="main">
      <div class="row">
        <div class="col-md-12" style="margin-top: 20px;">
          <mat-form-field style="text-align: center;background-color: #1ac8f3;color: #303030;width: 98%;margin-left: 10px;">
            <input  matInput (keyup)="applyFilter($event.target.value)"  placeholder="Search Jobs here">
          </mat-form-field>


      <table class="col-md-12" mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
        <ng-container class="col-md-12" matColumnDef="checkItem" >
          <th mat-header-cell *matHeaderCellDef style="background-color: #1ac8f3;color: #303030;font-size:10px;font-weight: bold;">
            <mat-checkbox  style="color: #303030;" ></mat-checkbox>&nbsp;&nbsp;Select All
          </th>
          <td mat-cell *matCellDef="let element">  <mat-checkbox (change)="chackChanged(element)" style="background-color: white !important;color: #303030;"></mat-checkbox> </td>
        </ng-container>



        <ng-container matColumnDef="job_title" >
          <th mat-header-cell *matHeaderCellDef style="background-color: #1ac8f3;color: white;color: #303030;font-size:15px;font-weight: bold;"> Job Title
          </th>
          <td mat-cell *matCellDef="let element">{{element.job_title}}</td>
        </ng-container>

         <ng-container matColumnDef="posted_date" >
            <th mat-header-cell *matHeaderCellDef style="background-color: #1ac8f3;color: white;color: #303030;font-size:15px;font-weight: bold;"> Posted date </th>
            <td mat-cell *matCellDef="let element">{{element.posted_date}}</td>
          </ng-container>

          <ng-container matColumnDef="job_desc" >
            <th mat-header-cell *matHeaderCellDef style="background-color: #1ac8f3;color: white;color: #303030;font-size:15px;font-weight: bold;"> job_desc </th>
            <td mat-cell *matCellDef="let element">{{element.job_desc}}</td>
          </ng-container>

          <ng-container matColumnDef="fk_company_name" >
            <th mat-header-cell *matHeaderCellDef style="background-color: #1ac8f3;color: white;color: #303030;font-size:15px;font-weight: bold;">  Company-name </th>
            <td mat-cell *matCellDef="let element">{{element.fk_company_name}}</td>
          </ng-container>


          <button  class="btn" style="background-color: red;height:80px;width:200px;">
            <mat-icon style="color: black;" aria-label="Example icon-button with a heart icon">edit</mat-icon>
         </button>

         <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef style="background-color: #1ac8f3;color: white;color: #303030;font-size:15px;font-weight: bold;">  </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn" style="background-color:#1ac8f3;">
              <mat-icon style="color: black;" aria-label="Example icon-button with a heart icon" (click)="onUpdateJob(element)">edit</mat-icon>
           </button>

          </td>
        </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator  style="width:98%;margin-left: 10px;"  [pageSizeOptions]="[10,15, 20,25]" showFirstLastButtons></mat-paginator>

      <br>
      <button (click)="onRemove()" class="btn" style="background-color: red;height:80px;width:200px;margin-left: 10px;">
          <mat-icon style="color: black;" aria-label="Example icon-button with a heart icon">delete</mat-icon>
          <p style="color:black;margin-top: 3px !important;">Remove Job</p>
      </button>

      <button class="btn" (click)="AddJob()" style="margin-left:10px;background-color: #1ac8f3;height: 80px;width: 200px;">
      <mat-icon style="color: black;" aria-label="Example icon-button with a heart icon">person_add</mat-icon>
        <p style="color:black;margin-top: 3px !important;">Add Job</p>
      </button>


      </div>
  </div>
  </div>
